// imports
@import '../../styles/variables';

.section {
    position: relative;
    min-height: 100vh;
}

.leftSidebar {
    width: calc($chat-left-side + $chat-left-channel-bar);
    max-width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transition: 0.25s;
    @media (max-width: map-get($breakpoints, lg)) {
        width: calc(($chat-left-side - $chat-left-side-dec) + ($chat-left-channel-bar - $chat-left-channel-bar-dec));
    }
}
