// imports
@import '../../styles/variables';

.mediaPlayer {
    position: relative;
}

.mediaPoster {
    pointer-events: none;
    user-select: none;
}

.playBtn {
    width: clamp(4.5rem, 8vw + 1rem, 5.625rem);
    background-color: transparent;
    border: none;
    outline: none;
    display: inline-flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
