// imports
@import '../../styles/variables';

.server {
    position: relative;
    flex-grow: 1;
    min-height: 100%;
    background-color: rgba($white, 35%);
    padding: 1.875rem 1.25rem;
}

.serverView {
    position: relative;
    margin-bottom: 1.75rem;
    .overlay {
        position: absolute;
        inset: 0;
        background-image: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 56.5%,
            rgba(0, 0, 0, 0.509703) 70.7%,
            rgba(0, 0, 0, 0.716463) 79.07%,
            rgba(0, 0, 0, 0.9) 100%
        );
        border-radius: 0.625rem;
        z-index: 2;
    }
    .imgBox {
        display: flex;
        position: relative;
        z-index: 1;
        span {
            width: 100% !important;
            aspect-ratio: 263 / 200;
            img {
                border-radius: 0.625rem;
            }
        }
    }
    .viewBottom {
        position: absolute;
        bottom: 1.188rem;
        left: 0.625rem;
        line-height: 1;
        z-index: 3;
        .viewTxt {
            display: flex;
            align-items: center;
            gap: 0.625rem;
            color: $secondary;
            font-size: 0.875rem;
            font-weight: 700;
            cursor: pointer;
            .icon {
                font-size: 1rem;
            }
        }
    }
}

.channels {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.938rem;
}

.userProfile {
    width: $chat-left-channel-bar;
    background-color: $clr-6;
    line-height: 1.25;
    padding: 1.125rem 1.25rem 1.063rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: $chat-left-side;
    z-index: 2;
    .userInfo {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        .imgBox {
            position: relative;
            display: inline-flex;
            .active {
                $size: 0.625rem;
                width: $size;
                height: $size;
                background-color: $active;
                border-radius: 50%;
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
        .details {
            .userName {
                font-family: $font-2;
                font-size: 0.875rem;
                font-weight: 500;
            }
            .userTitle {
                color: $neutral-3;
                font-size: 0.75rem;
                font-weight: 400;
                margin-top: 1px;
            }
        }
    }
    .interactions {
        position: relative;
        display: flex;
        align-items: center;
        gap: 1rem;
        .inter {
            display: inline-flex;
            color: $clr-7;
            font-size: 1.25rem;
            padding: 0;
            border: none;
            outline: none;
            cursor: pointer;
        }
    }
}
