// imports
@import '../../styles/variables';

$header-pl: 0.875rem;
.header {
    display: flex;
    align-items: center;
    background-color: rgba($clr-2, 30%);
    padding: 0.938rem 2.375rem 0.938rem $header-pl;
    backdrop-filter: blur(6px);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: 0.35s;
    z-index: 10;
}

.logoWrapper {
    display: flex;
    @media (min-width: map-get($breakpoints, lg)) {
        width: calc(($chat-left-side + $chat-left-channel-bar) - $header-pl);
        flex-basis: calc(($chat-left-side + $chat-left-channel-bar) - $header-pl);
    }
    .logo {
        display: flex;
        width: calc(10.5ch + 4vw);
    }
}

.pagSear {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    border-left: 1px solid $border-4;
}

.channelPagination {
    display: flex;
    align-items: center;
    .channelIcon {
        margin-right: 1rem;
    }
    .paginations {
        display: flex;
        align-items: center;
        gap: 0.35rem;
        li {
            a {
                position: relative;
                color: $black;
                font-weight: 700;
                text-underline-offset: 0.25em;
                &:hover {
                    text-decoration: underline;
                }
            }
            .divider {
                font-weight: 700;
                padding-left: 0.35rem;
            }
        }
    }
}

.search {
    background-color: $soft-stoke;
    color: $neutral-3;
    display: flex;
    align-items: center;
    gap: 0.938rem;
    padding: 0.938rem 1.25rem 0.938rem 1rem;
    border-radius: 6.25rem;
    width: 25rem;
    .submit,
    .input {
        background-color: transparent;
        border: none;
        outline: none;
    }
    .submit {
        display: inline-flex;
        color: inherit;
        padding: 0;
        cursor: pointer;
        font-size: 1.125rem;
    }
    .input {
        flex-grow: 1;
    }
    .adjust {
        position: relative;
        display: inline-flex;
    }
}

.profileInfo {
    gap: 2.5rem;
    @media (min-width: map-get($breakpoints, lg)) {
        flex-basis: calc($chat-right-side + 10px);
        justify-content: flex-end;
    }
    &,
    .notify {
        display: flex;
        align-items: center;
    }
    .notify {
        gap: 2rem;
        .notifyIcon {
            position: relative;
            display: inline-flex;
            font-size: 1.5rem;
            background-color: transparent;
            color: $neutral-3;
            padding: 0;
            border: none;
            outline: none;
            cursor: pointer;
            &.active {
                &::before {
                    content: '';
                    $size: 0.5rem;
                    width: $size;
                    height: $size;
                    background-color: $notify;
                    border-radius: 50%;
                    position: absolute;
                    top: 2px;
                    right: 0;
                    z-index: 1;
                    border: 1px solid $white;
                }
            }
        }
    }
}
